<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>My Network</display-name>
	<servlet>
		<servlet-name>ShowImage</servlet-name>
		<servlet-class>com.wutianyi.modules.control.ShowImage</servlet-class>
		<init-param>
			<param-name>imagePath</param-name>
			<param-value>G:\work\wutianyi86728_6\src\main\webapp\image</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowImage</servlet-name>
		<url-pattern>/ShowImage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>MyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/MyServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ajaxServlet</servlet-name>
		<servlet-class>com.wutianyi.study.ajax.AjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ajaxServlet</servlet-name>
		<url-pattern>/ajaxServlet</url-pattern>
	</servlet-mapping>

	<!-- struts 例子配置文件 -->
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/example/*</url-pattern>
	</filter-mapping>
	<!-- spring struts2结合 -->
	<!-- 定义加载xml文件的位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:com/wutianyi/study/struts2/applicationContext*.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- tucker -->
	<!-- urlWriter -->
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>ERROR</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- 文件上传servlet -->
	<servlet>
		<servlet-name>uploadServlet</servlet-name>
		<servlet-class>com.wutianyi.modules.control.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadServlet</servlet-name>
		<url-pattern>/uploadServlet</url-pattern>
	</servlet-mapping>

	<!-- 定义springmvc 的使用 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<jsp-config>
		<taglib>
			<taglib-uri></taglib-uri>
			<taglib-location></taglib-location>
		</taglib>
		<jsp-property-group>
			<display-name>jsp-config</display-name>
			<url-pattern>/*</url-pattern>
			<include-prelude>/WEB-INF/prelude.jspf</include-prelude>
			<include-prelude></include-prelude>
		</jsp-property-group>

	</jsp-config>
</web-app>
